/* .card {
    width: 500px;
    max-width: 90%;
    min-height: 300px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
}

.headingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
} */
.card {
    width: 600px;
    max-width: 90%;
    min-height: 300px;
    /* background: #1d1d1d; */
    background: #f7f7f7;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
}

.headingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.heading {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    color: #444;
}

.logoImg {
    width: 30px;
}