/* 
.navbar{
    padding: 20px 0;
    background: #444;
} */

.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #444;
    border-radius: 10px;
}

.navRight {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    /*todo*/
    border: 3px solid #f7f7f7;
    margin: 0 20px;
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.logoutButton {
    background: transparent;
    cursor: pointer;
    border: none;
}

.logoutButton img {
    width: 20px;
    height: 20px;
}

.avatarWrapper {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}